<h2>Basic Details</h2>
<dl class="list">
    <div>
      <dt>Name</dt>
      <dd>{{details.name}}</dd>
    </div>
    <div>
      <dt>Height</dt>
      <dd>{{details.height}}</dd>
    </div>
    <div>
      <dt>Mass</dt>
      <dd>{{details.mass}}</dd>
    </div>
    <div>
      <dt>Hair Color</dt>
      <dd>{{details.hair_color}}</dd>
    </div>

    <div>
        <dt>Skin Color</dt>
        <dd>{{details.skin_color}}</dd>
      </div>

      <div>
        <dt>Eye Color</dt>
        <dd>{{details.eye_color}}</dd>
      </div>

      <div>
        <dt>Birth Year</dt>
        <dd>{{details.birth_year}}</dd>
      </div>

      <div>
        <dt>Gender</dt>
        <dd>{{details.gender}}</dd>
      </div>

      <div>
        <dt>Homeworld</dt>
        <dd>{{details.homeworld}}</dd>
      </div>

  </dl>